* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    height: 10px;
    width: 0;
    border: 1px solid #d5d5d5;
    background-color: white;
  }

::-webkit-scrollbar-thumb:horizontal{
    background: #000;
    border-radius: 10px;
}

body {
    background-color: #a8d8ea;
}

h1 {
    text-align: center;
    margin: 30px;
    font-family: 'Rowdies', cursive;
    font-size: 40pt;
    font-family: 'Fredoka One', cursive;
}

.info {
    margin: 20px 150px 20px 150px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 2rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 2rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 2rem;
}

#side-bar {
    left: 0;
    top: 0;
    text-align: center;
    width: 400px;
    position: fixed;
    height: 100%;
    background-color: #fffed3;
    padding-top: 25vh;
}

#side-bar a {
    display: block;
    padding: 20px;
    font-size: 30pt;
    color: black;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
}

#side-bar a:hover {
    color:blue;
}

#content {
    padding: 60px 0 60px 400px;
}

#content > h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 30pt;
    text-align: center;
    margin-top: 60px;

}

#books-sidescroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 50px;
}

.book {
    display: inline-block;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}


.book img {
    height: 250px;
}

#screenplays-sidescroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.screenplay {
    display: inline-block;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}


.screenplay img {
    height: 250px;
}



.about-book {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 30px;
    width: 900px;
    margin: auto;
}

.about-book img {
    margin-right: 50px;
}

.about-book p {
    transform: translateY(25%);
}

.about-book-reverse {
    display: grid;
    grid-template-columns: 1fr 300px;
    padding: 30px;
    width: 900px;
    margin: auto;
}

.about-book-reverse img {
    margin-left: 50px;
}

.about-book-reverse p {
    transform: translateY(25%);
}

#book-grid img {
    padding: 30px;
}

#book-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 900px;
    margin: auto;
}

.bio-right {
    float: right;
    margin: 10px 150px 10px 10px;
    width: 250px;
}

.bio-left {
    float: left;
    margin: 10px 10px 10px 150px;
    width: 250px;
}